In [97]:
import utils
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import torch
import torch.nn as nn
from torch.utils.tensorboard import SummaryWriter

In [8]:
tr_data = pd.read_csv('data/adult.data', header=None)

In [44]:
columns = ["age", "workclass", "fnlwgt", "education", "education-num", 
           "marital-status", "occupation", "relationship", "race", "sex",
           "capital-gain","capital-loss","hours-per-week","native-country",
           "income"
          ]
index_c = {}
for i in range(len(columns)):
    index_c[i]=columns[i]
tr_df.rename(columns=index_c)
tr_df.columns = columns
tr_df.info()
tr_df
# categorize the data
# tr_df[1, 3,5,6,7,8,9,13,14] #= tr_df[1].astype('category')
# for i in [1, 3,5,6,7,8,9,13,14]:
#     tr_df[i] = tr_df[i].astype('category')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  category
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  category
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  category
 6   occupation      32561 non-null  category
 7   relationship    32561 non-null  category
 8   race            32561 non-null  category
 9   sex             32561 non-null  category
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  category
 14  income          32561 non-null  category
dtypes: category(9), int64(6)
memory usage: 1.8 MB

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [49]:
tr_np = tr_df.to_numpy()

In [57]:
tr_df_i = tr_df.copy()

In [58]:
for i in columns:
    labelencoder= LabelEncoder()
    tr_df_i[i] = labelencoder.fit_transform(tr_df_i[i])

In [59]:
tr_df_i

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,22,7,2671,9,12,4,1,1,4,1,25,0,39,39,0
1,33,6,2926,9,12,2,4,0,4,1,0,0,12,39,0
2,21,4,14086,11,8,0,6,1,4,1,0,0,39,39,0
3,36,4,15336,1,6,2,6,0,2,1,0,0,39,39,0
4,11,4,19355,9,12,2,10,5,2,0,0,0,39,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,10,4,16528,7,11,2,13,5,4,0,0,0,37,39,0
32557,23,4,8080,11,8,2,7,0,4,1,0,0,39,39,1
32558,41,4,7883,11,8,6,1,4,4,0,0,0,39,39,0
32559,5,4,12881,11,8,4,1,3,4,1,0,0,19,39,0
32560,35,5,17825,11,8,2,4,5,4,0,108,0,39,39,1

In [72]:
tr_df_i.describe()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,21.580326,3.868892,10498.892479,10.298210,9.080679,2.611836,6.572740,1.446362,3.665858,0.669205,6.501213,2.053285,39.377937,36.718866,0.240810
std,13.635502,1.455960,6048.972814,3.870264,2.572720,1.506222,4.228857,1.606771,0.848806,0.470506,23.300287,10.056564,12.144006,7.823782,0.427581
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.000000,4.000000,5396.000000,9.000000,8.000000,2.000000,3.000000,0.000000,4.000000,0.000000,0.000000,0.000000,39.000000,39.000000,0.000000
50%,20.000000,4.000000,10348.000000,11.000000,9.000000,2.000000,7.000000,1.000000,4.000000,1.000000,0.000000,0.000000,39.000000,39.000000,0.000000
75%,31.000000,4.000000,15487.000000,12.000000,11.000000,4.000000,10.000000,3.000000,4.000000,1.000000,0.000000,0.000000,44.000000,39.000000,0.000000
max,72.000000,8.000000,21647.000000,15.000000,15.000000,6.000000,14.000000,5.000000,4.000000,1.000000,118.000000,91.000000,93.000000,41.000000,1.000000

In [63]:
data_np = tr_df_i.to_numpy(dtype='float')

In [70]:
data_np.shape
X, y = data_np[:,:-1], data_np[:,-1]

In [78]:
scaler = MinMaxScaler()
X_tr = scaler.fit_transform(X)

In [79]:
X_tr.shape

(32561, 14)

In [106]:
model = nn.Sequential(
    nn.Linear(14,1000),
    nn.ReLU(),
    nn.Linear(1000,2000),
    nn.ReLU(),
    nn.Linear(2000,5000),
    nn.ReLU(),
    nn.Linear(5000,500),
    nn.ReLU(),
    nn.Linear(500, 2)
)
criterion = nn.CrossEntropyLoss(reduction='sum')
batch_size = 64
# optimizer = torch.optim.Adam(model.parameters(), lr=3e-1)
optimizer = torch.optim.SGD(model.parameters(), lr=0.001, momentum=0.9)
epochs = 100
N, D = X_tr.shape

In [107]:
writer = SummaryWriter(flush_secs=10)
loss_history=[]
for e in range(epochs):
    for i in range(0, N, batch_size):
        optimizer.zero_grad()
        X_batch = torch.as_tensor(X_tr[i:i+batch_size,:].reshape((-1,D)), dtype=torch.float)
        y_batch = torch.as_tensor(y[i:i+batch_size], dtype=torch.long)
        loss=criterion(model(X_batch), y_batch)
        loss.backward()
        optimizer.step()
        if writer is not None:
                writer.add_scalar("Loss/Train", loss.item())
        if i%10 == 9:
            loss_history.append(loss.item())
        if (i/batch_size)%200 == 99:
            print("epoch %i: iteration %i/%i= %s" % (e+1, i, X.shape[0], str(loss.detach().numpy())))

epoch 1: iteration 6336/32561= 22.092255
epoch 1: iteration 19136/32561= 17.75054
epoch 1: iteration 31936/32561= 22.654537
epoch 2: iteration 6336/32561= 21.99739
epoch 2: iteration 19136/32561= 13.066796
epoch 2: iteration 31936/32561= 21.980688
epoch 3: iteration 6336/32561= 19.62559
epoch 3: iteration 19136/32561= 13.406793
epoch 3: iteration 31936/32561= 21.557608
epoch 4: iteration 6336/32561= 20.05093
epoch 4: iteration 19136/32561= 12.719949
epoch 4: iteration 31936/32561= 21.164822
epoch 5: iteration 6336/32561= 19.737936
epoch 5: iteration 19136/32561= 12.134309
epoch 5: iteration 31936/32561= 21.300594
epoch 6: iteration 6336/32561= 19.700882
epoch 6: iteration 19136/32561= 12.078371
epoch 6: iteration 31936/32561= 21.487915
epoch 7: iteration 6336/32561= 19.507608
epoch 7: iteration 19136/32561= 12.125986
epoch 7: iteration 31936/32561= 21.432945
epoch 8: iteration 6336/32561= 19.144152
epoch 8: iteration 19136/32561= 12.24643
epoch 8: iteration 31936/32561= 21.21124
epoch 9: iteration 6336/32561= 18.919964
epoch 9: iteration 19136/32561= 12.43505
epoch 9: iteration 31936/32561= 20.816174
epoch 10: iteration 6336/32561= 18.743933
epoch 10: iteration 19136/32561= 12.604854
epoch 10: iteration 31936/32561= 20.833498
epoch 11: iteration 6336/32561= 18.603466
epoch 11: iteration 19136/32561= 12.553176
epoch 11: iteration 31936/32561= 20.525896
epoch 12: iteration 6336/32561= 18.374117
epoch 12: iteration 19136/32561= 12.406573
epoch 12: iteration 31936/32561= 20.290495
epoch 13: iteration 6336/32561= 18.238138
epoch 13: iteration 19136/32561= 11.972783
epoch 13: iteration 31936/32561= 20.309631
epoch 14: iteration 6336/32561= 18.150364
epoch 14: iteration 19136/32561= 12.214897
epoch 14: iteration 31936/32561= 19.968405
epoch 15: iteration 6336/32561= 17.89324
epoch 15: iteration 19136/32561= 12.105816
epoch 15: iteration 31936/32561= 20.036814
epoch 16: iteration 6336/32561= 17.392376
epoch 16: iteration 19136/32561= 12.233901
epoch 16: iteration 31936/32561= 19.718418
epoch 17: iteration 6336/32561= 17.251987
epoch 17: iteration 19136/32561= 12.873292
epoch 17: iteration 31936/32561= 19.424486
epoch 18: iteration 6336/32561= 17.174145
epoch 18: iteration 19136/32561= 12.542786
epoch 18: iteration 31936/32561= 19.15983
epoch 19: iteration 6336/32561= 16.710173
epoch 19: iteration 19136/32561= 12.2508955
epoch 19: iteration 31936/32561= 19.096277
epoch 20: iteration 6336/32561= 16.637075
epoch 20: iteration 19136/32561= 11.776553
epoch 20: iteration 31936/32561= 18.961817
epoch 21: iteration 6336/32561= 16.276676
epoch 21: iteration 19136/32561= 11.793736
epoch 21: iteration 31936/32561= 18.838013
epoch 22: iteration 6336/32561= 15.34631
epoch 22: iteration 19136/32561= 12.228695
epoch 22: iteration 31936/32561= 18.50483
epoch 23: iteration 6336/32561= 14.2956705
epoch 23: iteration 19136/32561= 12.701081
epoch 23: iteration 31936/32561= 18.756977
epoch 24: iteration 6336/32561= 13.551047
epoch 24: iteration 19136/32561= 12.6595
epoch 24: iteration 31936/32561= 18.418758
epoch 25: iteration 6336/32561= 14.093416
epoch 25: iteration 19136/32561= 11.772658
epoch 25: iteration 31936/32561= 19.012651
epoch 26: iteration 6336/32561= 13.337242
epoch 26: iteration 19136/32561= 12.844771
epoch 26: iteration 31936/32561= 19.17231
epoch 27: iteration 6336/32561= 14.316903
epoch 27: iteration 19136/32561= 12.144398
epoch 27: iteration 31936/32561= 18.99348
epoch 28: iteration 6336/32561= 15.183031
epoch 28: iteration 19136/32561= 12.247057
epoch 28: iteration 31936/32561= 18.943726
epoch 29: iteration 6336/32561= 13.696812
epoch 29: iteration 19136/32561= 11.68167
epoch 29: iteration 31936/32561= 19.016617
epoch 30: iteration 6336/32561= 13.715876
epoch 30: iteration 19136/32561= 11.690153
epoch 30: iteration 31936/32561= 18.916817
epoch 31: iteration 6336/32561= 14.958074
epoch 31: iteration 19136/32561= 12.20143
epoch 31: iteration 31936/32561= 18.781174
epoch 32: iteration 6336/32561= 14.485045
epoch 32: iteration 19136/32561= 11.588599
epoch 32: iteration 31936/32561= 18.856693
epoch 33: iteration 6336/32561= 14.412794
epoch 33: iteration 19136/32561= 12.265654
epoch 33: iteration 31936/32561= 20.283733
epoch 34: iteration 6336/32561= 14.885582
epoch 34: iteration 19136/32561= 11.858706
epoch 34: iteration 31936/32561= 20.656166
epoch 35: iteration 6336/32561= 13.003139
epoch 35: iteration 19136/32561= 10.715041
epoch 35: iteration 31936/32561= 18.691765
epoch 36: iteration 6336/32561= 16.80713
epoch 36: iteration 19136/32561= 11.881988
epoch 36: iteration 31936/32561= 20.985376
epoch 37: iteration 6336/32561= 13.535329
epoch 37: iteration 19136/32561= 12.659358
epoch 37: iteration 31936/32561= 18.892515
epoch 38: iteration 6336/32561= 13.559158
epoch 38: iteration 19136/32561= 10.63648
epoch 38: iteration 31936/32561= 19.450247
epoch 39: iteration 6336/32561= 10.089514
epoch 39: iteration 19136/32561= 13.177687
epoch 39: iteration 31936/32561= 16.94818
epoch 40: iteration 6336/32561= 12.566156
epoch 40: iteration 19136/32561= 14.208212
epoch 40: iteration 31936/32561= 16.931856
epoch 41: iteration 6336/32561= 9.215025
epoch 41: iteration 19136/32561= 11.761354
epoch 41: iteration 31936/32561= 19.776913
epoch 42: iteration 6336/32561= 10.922662
epoch 42: iteration 19136/32561= 11.868623
epoch 42: iteration 31936/32561= 18.003014
epoch 43: iteration 6336/32561= 10.193126
epoch 43: iteration 19136/32561= 9.353597
epoch 43: iteration 31936/32561= 18.659101
epoch 44: iteration 6336/32561= 9.044466
epoch 44: iteration 19136/32561= 12.068407
epoch 44: iteration 31936/32561= 21.350027
epoch 45: iteration 6336/32561= 9.446019
epoch 45: iteration 19136/32561= 9.328193
epoch 45: iteration 31936/32561= 15.914842
epoch 46: iteration 6336/32561= 10.687986
epoch 46: iteration 19136/32561= 11.5005245
epoch 46: iteration 31936/32561= 16.469797
epoch 47: iteration 6336/32561= 9.419877
epoch 47: iteration 19136/32561= 10.469804
epoch 47: iteration 31936/32561= 14.621529
epoch 48: iteration 6336/32561= 13.172859
epoch 48: iteration 19136/32561= 11.5899515
epoch 48: iteration 31936/32561= 15.172118
epoch 49: iteration 6336/32561= 12.348451
epoch 49: iteration 19136/32561= 7.421004
epoch 49: iteration 31936/32561= 15.529341
epoch 50: iteration 6336/32561= 11.726765
epoch 50: iteration 19136/32561= 6.661471
epoch 50: iteration 31936/32561= 16.785923
epoch 51: iteration 6336/32561= 16.713474
epoch 51: iteration 19136/32561= 7.8516774
epoch 51: iteration 31936/32561= 18.426342

KeyboardInterrupt: